In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('zomato.csv')

In [3]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,3,3.9,9ACD32,Good,140
1,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,2,3.5,9ACD32,Good,71
2,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,Indian Rupees(Rs.),0,0,0,0,2,3.6,9ACD32,Good,94
3,3400005,Mama Chicken Mama Franky House,1,Agra,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra Cantt,"Agra Cantt, Agra",78.011627,27.161854,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",...,Indian Rupees(Rs.),0,1,0,0,2,4.3,5BA829,Very Good,31399
4,3400021,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998364,27.195759,Rajasthani,...,Indian Rupees(Rs.),0,1,0,0,2,4.5,3F7E00,Excellent,4944

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9351 entries, 0 to 9350
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9351 non-null   int64
 1   Restaurant Name       9351 non-null   object
 2   Country Code          9351 non-null   int64
 3   City                  9351 non-null   object
 4   Address               9351 non-null   object
 5   Locality              9351 non-null   object
 6   Locality Verbose      9351 non-null   object
 7   Longitude             9351 non-null   float64
 8   Latitude              9351 non-null   float64
 9   Cuisines              9351 non-null   object
 10  Average Cost for two  9351 non-null   int64
 11  Currency              9351 non-null   object
 12  Has Table booking     9351 non-null   int64
 13  Has Online delivery   9351 non-null   int64
 14  Is delivering now     9351 non-null   int64
 15  Switch to order menu  9351 non-null   int64
 16  Price range           9351 non-null   int64
 17  Aggregate rating      9351 non-null   float64
 18  Rating color          9351 non-null   object
 19  Rating text           9351 non-null   object
 20  Votes                 9351 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.5+ MB

In [9]:
df = data[['Restaurant Name','Address','City','Locality','Cuisines','Average Cost for two','Aggregate rating']]

In [10]:
df.head()

,Restaurant Name,Address,City,Locality,Cuisines,Average Cost for two,Aggregate rating
0,Jahanpanah,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra,Agra Cantt,"North Indian, Mughlai",850,3.9
1,Rangrezz Restaurant,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra,Agra Cantt,"North Indian, Mughlai",700,3.5
2,Time2Eat - Mama Chicken,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,Agra Cantt,North Indian,500,3.6
3,Mama Chicken Mama Franky House,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.3
4,Chokho Jeeman Marwari Jain Bhojanalya,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Agra,Civil Lines,Rajasthani,400,4.5

In [15]:
ser = ', '.join(x for x in df['Cuisines'].unique())

In [17]:
ser = set(ser.split(', '))

In [18]:
ser

{'Afghani',
 'African',
 'American',
 'Andhra',
 'Arabian',
 'Armenian',
 'Asian',
 'Assamese',
 'Awadhi',
 'BBQ',
 'Bakery',
 'Bar Food',
 'Belgian',
 'Bengali',
 'Beverages',
 'Bihari',
 'Biryani',
 'British',
 'Bubble Tea',
 'Burger',
 'Burmese',
 'Cafe',
 'Cajun',
 'Cantonese',
 'Charcoal Grill',
 'Chettinad',
 'Chinese',
 'Coffee',
 'Continental',
 'Cuisine Varies',
 'Deli',
 'Desserts',
 'Drinks Only',
 'European',
 'Fast Food',
 'Finger Food',
 'French',
 'German',
 'Goan',
 'Greek',
 'Gujarati',
 'Healthy Food',
 'Hyderabadi',
 'Ice Cream',
 'Indian',
 'Indonesian',
 'Iranian',
 'Israeli',
 'Italian',
 'Japanese',
 'Juices',
 'Kashmiri',
 'Kebab',
 'Kerala',
 'Korean',
 'Lebanese',
 'Lucknowi',
 'Maharashtrian',
 'Malaysian',
 'Malwani',
 'Mangalorean',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Mithai',
 'Modern Indian',
 'Momos',
 'Moroccan',
 'Mughlai',
 'Naga',
 'Nepalese',
 'North Eastern',
 'North Indian',
 'Odia',
 'Oriya',
 'Pakistani',
 'Parsi',
 'Pasta',
 'Persian',
 'Pizza',
 'Portuguese',
 'Rajasthani',
 'Raw Meats',
 'Roast Chicken',
 'Rolls',
 'Salad',
 'Sandwich',
 'Seafood',
 'Singaporean',
 'South American',
 'South Indian',
 'Spanish',
 'Sri Lankan',
 'Steak',
 'Street Food',
 'Sushi',
 'Tamil',
 'Tea',
 'Tex-Mex',
 'Thai',
 'Tibetan',
 'Turkish',
 'Vietnamese',
 'Wraps'}

In [101]:
df[df['City']== 'Bangalore']

,Restaurant Name,Address,City,Locality,Cuisines,Average Cost for two,Aggregate rating
196,The 13th Floor,"84/142, 12th And 13th Floor, Barton Center, MG...",Bangalore,Barton Centre,"North Indian, Asian, Thai",2000,4.4
197,Sultans of Spice,"BluPetal Hotel, 60 Jyoti Nivas College Road, K...",Bangalore,"BluPetal Hotel, Koramangala","North Indian, Mughlai",1300,4.1
198,Byg Brewski Brewing Company,"22/123, Byrathi Village, Bidarahalli Hobli, He...",Bangalore,Hennur,"Continental, North Indian, Italian, South Indi...",1600,4.3
199,Bombay Brasserie,"2989/B, 12th Main Road, HAL 2nd Stage, Indiran...",Bangalore,Indiranagar,"Modern Indian, Street Food, Biryani, Desserts,...",1800,4.5
200,Burma Burma,"607, Ground Floor, 12th Main, Hal 2nd Stage, I...",Bangalore,Indiranagar,"Asian, Burmese, Bubble Tea, Salad, Tea, Desser...",1500,4.7
201,The Fatty Bao - Asian Gastro Bar,"610, 3rd Floor, 12th Main, Off 80 Feet Road, I...",Bangalore,Indiranagar,"Japanese, Sushi, Asian, Chinese, Momos",1200,4.5
202,Toit,"298, 100 Feet Road, Namma Metro Pillar 62, Ind...",Bangalore,Indiranagar,"Italian, American, Modern Indian",2000,4.6
203,Three Dots & A Dash,"840/1,100 Feet Road, Metro Pillar 56-57, Indir...",Bangalore,Indiranagar,"European, Continental",1300,3.9
204,1131 Bar + Kitchen,"100 Feet Road, HAL 2nd Stage, Indiranagar, Ban...",Bangalore,Indiranagar,"Continental, Mughlai, North Indian, Beverages,...",1500,4.2
205,Bombay Brasserie,"2989/B, 12th Main Road, HAL 2nd Stage, Indiran...",Bangalore,Indiranagar,Modern Indian,1500,4.2
206,Glen's Bakehouse,"297, 100 Feet Road, Indiranagar, Bangalore",Bangalore,Indiranagar,"Bakery, Desserts, Cafe",800,4.0
207,Onesta,"501, Binnamangala Extension, 1st stage, C.M.H ...",Bangalore,Indiranagar,"Pizza, Cafe, Italian",600,4.3
208,Onesta,"Site 15, 15th Cross, 100 Feet Road, 4th Phase,...",Bangalore,JP Nagar,"Pizza, Cafe, Italian",600,4.6
209,Brahma Brews,"Opposite Brigade Palm Springs, 24th Main, 7th ...",Bangalore,JP Nagar,"Bar Food, Asian, Italian, North Indian, Fast F...",1900,4.3
210,URU Brewpark,"Near Maratt Estate, 4th Phase, JP Nagar, Banga...",Bangalore,JP Nagar,"Italian, North Indian, Continental, Chinese, A...",1500,4.1
211,The Hole In The Wall Cafe,"4, 8th Main Road, Koramangala 4th Block, Banga...",Bangalore,Koramangala 4th Block,"Cafe, American, Burger, Beverages, Desserts",600,4.4
212,ECHOES Koramangala,"44, 4th B Cross, Koramangala 5th Block, Bangalore",Bangalore,Koramangala 5th Block,"Continental, American, Italian, North Indian, ...",950,4.7
213,Truffles,"28, 4th B Cross, Koramangala 5th Block, Bangalore",Bangalore,Koramangala 5th Block,"Cafe, American, Coffee, Steak, Beverages, Fast...",900,4.8
214,Biergarten,"4th B Cross, Koramangala 5th Block, Bangalore",Bangalore,Koramangala 5th Block,"Continental, North Indian, Chinese, Finger Foo...",2000,4.4
215,The Black Pearl,"105, 1st A Cross Road, Jyothi Nivas College Ro...",Bangalore,Koramangala 5th Block,"North Indian, European, Mediterranean",1400,4.1
216,The Reservoire,"17th Main Road, JNC Road, Koramangala 5th Bloc...",Bangalore,Koramangala 5th Block,"Continental, North Indian, American, Asian, Ch...",1400,4.1
217,Eat Street,"11, 80 Feet Road, Opposite Indian Oil Petrol P...",Bangalore,Koramangala 6th Block,"North Indian, Chinese, Italian, Street Food, D...",400,4.3
218,The Bier Library,"14, Patel Narayana Reddy Layout, 80 Feet Main ...",Bangalore,Koramangala 6th Block,"Continental, North Indian, Pizza, BBQ",2000,4.4
219,Koramangala Social,"118, Koramangala Industrial Area, Koramangala ...",Bangalore,Koramangala 7th Block,"Continental, American",1500,4.5
220,AB's - Absolute Barbecues,"90/4, 3rd Floor, Outer Ring Road, Munnekollaly...",Bangalore,Marathahalli,"European, Mediterranean, North Indian",1400,4.6
221,Flechazo,"9/1, 1st Floor, Above Surya Nissan, VRR Orchid...",Bangalore,Marathahalli,"Asian, Mediterranean, North Indian",1200,4.4
222,Onesta,"215, 216 & 220, Devasandra Village, Kasaba Hob...",Bangalore,New BEL Road,"Pizza, Cafe, Italian",600,4.6
223,Big Pitcher,"4121, LR Arcade, Old Airport Road, Bangalore",Bangalore,Old Airport Road,"American, Continental, North Indian, Mediterra...",1600,4.3
224,The London Curry House - The Royale Senate Hotel,"19/3, Kumara Krupa Road, Race Course Road, Ban...",Bangalore,Race Course Road,"Modern Indian, North Indian, Italian, Continental",1700,4.5
225,Communiti,"67 & 68, Brigade Solitaire, Opposite to Advait...",Bangalore,Residency Road,Continental,1200,4.2
226,Olive Bar And Kitchen,"16, Wood Street, Ashok Nagar, Richmond Road, B...",Bangalore,Richmond Road,"Mediterranean, European, Salad, Italian",2400,4.6
227,The Druid Garden,"40/1, 3rd Floor, Century Corbel Commercial, Sa...",Bangalore,Sahakara Nagar,"Asian, Continental, Italian, North Indian, Bev...",1700,4.1
228,Big Brewsky,"Behind MK Retail, Before WIPRO Corporate Offic...",Bangalore,Sarjapur Road,"Finger Food, North Indian, Italian, Continenta...",1800,4.5
229,Hoot,"BBMP 2034/69, Block 2, Kaikondrahalli, Varthur...",Bangalore,Sarjapur Road,"Continental, Italian, North Indian",1400,3.9
230,Farzi Cafe,"202, Level 2, UB City, Vittal Mallya Road, Lav...",Bangalore,UB City,Modern Indian,1500,4.4
231,Biergarten,"2, Doddanekkundi, Whitefield Road, Mahadevpura...",Bangalore,Whitefield,"Continental, European, BBQ, Chinese, Asian",2000,4.5
232,Windmills Craftworks,"331, EPIP Area, Road 5B, Near KTPO, Whitefield...",Bangalore,Windmills Craftworks,"Continental, Fast Food, Kebab, Beverages, Ital...",2500,4.7

In [19]:
df['City'].unique()

array(['Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Gangtok', 'Ghaziabad',
       'Goa', 'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur',
       'Kanpur', 'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore',
       'Mohali', 'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'Nasik',
       'New Delhi', 'Noida', 'Ooty', 'Panchkula', 'Patna', 'Puducherry',
       'Pune', 'Ranchi', 'Secunderabad', 'Shimla', 'Surat', 'Vadodara',
       'Varanasi', 'Vizag'], dtype=object)

In [35]:
def RestaurantSearch(City,Cuisine, min_price, max_price):
    zomato_data = df[(df['Cuisines'].apply(lambda x: Cuisine.lower() in x.lower())) &
                (df['City'].apply(lambda x: City.lower() in x.lower())) &
                (df['Average Cost for two']>=min_price) &
                (df['Average Cost for two']<=max_price)]

    zomato_data = df[['Restaurant Name','Address','Average Cost for two','Aggregate rating']]
    zomato_data = zomato_data.sort_values(by='Aggregate rating', ascending=False)
    return zomato_data

In [36]:
z_data = RestaurantSearch('Bangalore','South Indian', 500,1000)

In [37]:
response = f"Here are the top 5 matches for your search: \n"
for _, restaurant in z_data.iloc[:5].iterrows():
    t_resp = f" Restaurnat Name: {restaurant['Restaurant Name']}\n Address: {restaurant['Address']}\n Average cost for two: {restaurant['Average Cost for two']} \n Rating is {restaurant['Aggregate rating']} \n {'-'*30} \n"
    response += t_resp

In [38]:
print(response)

Here are the top 5 matches for your search:
 Restaurnat Name: Grandson of Tunday Kababi
 Address: Naaz Cinema Road, Aminabad, Lucknow
 Average cost for two: 300
 Rating is 4.9
 ------------------------------
 Restaurnat Name: Gelateria Montecatini Terme
 Address: Goubert Avenue, Next To Alliance Franchaise, White Town, Puducherry
 Average cost for two: 150
 Rating is 4.9
 ------------------------------
 Restaurnat Name: Indian Accent - The Manor
 Address: The Manor, 77, Friends Colony, New Delhi
 Average cost for two: 4000
 Rating is 4.9
 ------------------------------
 Restaurnat Name: Giri Manja's
 Address: Near Kalikamba Temple, Gopalkrishna Temple Road, Bhavathi, Mangalore Bhavathi
 Average cost for two: 500
 Rating is 4.9
 ------------------------------
 Restaurnat Name: Sheroes Hangout
 Address: Opposite The Gateway Hotel, Fatehabad Road, Tajganj, Agra
 Average cost for two: 0
 Rating is 4.9
 ------------------------------

In [41]:
import re
st = "utkagmail.com"
pat = re.compile(r"\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b")
s = re.search(pat, st)
if s is None:
    print('not ok')
else:
    print('ok')

not ok

In [46]:
import logging
logging.basicConfig(level=logging.DEBUG, format= "%(funcName)s() - %(lineno)s - %(message)s")

In [47]:
logging.info("ok")

<module>() - 1 - ok

In [49]:
df[:5]

,Restaurant Name,Address,City,Locality,Cuisines,Average Cost for two,Aggregate rating
0,Jahanpanah,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra,Agra Cantt,"North Indian, Mughlai",850,3.9
1,Rangrezz Restaurant,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra,Agra Cantt,"North Indian, Mughlai",700,3.5
2,Time2Eat - Mama Chicken,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,Agra Cantt,North Indian,500,3.6
3,Mama Chicken Mama Franky House,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.3
4,Chokho Jeeman Marwari Jain Bhojanalya,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Agra,Civil Lines,Rajasthani,400,4.5

In [54]:
ZomatoData  = df

In [76]:
def RestaurantSearch(City,Cuisine, min_price, max_price, return_top=5):
    logging.info(f"Input City Name: {City}, Cuisine name: {Cuisine}, Price range: {min_price} to {max_price}")
    zomato_data = ZomatoData[(ZomatoData['Cuisines'].apply(lambda x: Cuisine.lower() in x.lower())) &
     (ZomatoData['City'].apply(lambda x: City.lower() in x.lower())) &
     (ZomatoData['Average Cost for two']>=min_price) &
     (ZomatoData['Average Cost for two']<=max_price)
     ]

    zomato_data = zomato_data[['Restaurant Name','Address','Average Cost for two','Aggregate rating']]
    zomato_data = zomato_data.sort_values(by='Aggregate rating', ascending=False)
    return zomato_data.iloc[:return_top]

In [102]:
results = RestaurantSearch('Bangalore', 'North Indian', 500, 1500)
results

RestaurantSearch() - 2 - Input City Name: Bangalore, Cuisine name: North Indian, Price range: 500 to 1500

,Restaurant Name,Address,Average Cost for two,Aggregate rating
212,ECHOES Koramangala,"44, 4th B Cross, Koramangala 5th Block, Bangalore",950,4.7
220,AB's - Absolute Barbecues,"90/4, 3rd Floor, Outer Ring Road, Munnekollaly...",1400,4.6
221,Flechazo,"9/1, 1st Floor, Above Surya Nissan, VRR Orchid...",1200,4.4
204,1131 Bar + Kitchen,"100 Feet Road, HAL 2nd Stage, Indiranagar, Ban...",1500,4.2
197,Sultans of Spice,"BluPetal Hotel, 60 Jyoti Nivas College Road, K...",1300,4.1

In [98]:
def format_message(df):
    resp = ""
    for _ , restaurant in df.iterrows():
        r_temp = f" Restaurnat Name: {restaurant['Restaurant Name']}\n Address: {restaurant['Address']}\n Average cost for two: {restaurant['Average Cost for two']} \n Rating is {restaurant['Aggregate rating']} \n {'-'*30} \n"
        resp += r_temp
    return resp

In [99]:
response = f"Here are the top 5 matches for your search: \n"
response += format_message(results)
print(response)

Here are the top 5 matches for your search:

In [113]:
import time
import asyncio
async def ok():
    time.sleep(2)
    print('ok')

In [114]:
print(1)
ok()
print(2)

1
2

C:\Users\utkar\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: coroutine 'ok' was never awaited

RuntimeWarning: Enable tracemalloc to get the object allocation traceback

In [115]:
print(1)
loop = asyncio.get_event_loop()
task = loop.create_task(ok())
print(2)

1
2

In [142]:
import re
def parse_price(raw_price):
    low_price= 0
    high_price = 100000
    temp = re.findall(r'\d+', raw_price)
    res = list(map(int, temp))
    print(res)
    low_list = ['less', '<','within','low','']
    high_list = ['more','>', 'higher']
    # Logic to get the price
    if len(res)>1:
        low_price = res[0]
        high_price = res[-1]
    if len(res) == 1:
        b_flag = [ele for ele in high_list if(ele in raw_price)]
        if len(b_flag) > 0:    
            low_price = res[0]
        else:
            high_price = res[0]
    return low_price, high_price

In [145]:
parse_price('')

[700]

(700, 100000)

In [ ]:
- payload: 0-300
      title: Less than Rs.300
    - payload: 300-700
      title: Rs.300 to Rs.700
    - payload: ">700"
      title: More than Rs.700